


body, html {
            height: 100%;
            margin: 0;
            padding:0;
            overflow: hidden;
       }

       #yourmap {
           
          width: 100vw;
          height: 500vh;
          margin :0;
       }


